./**.exp
./**.o
DirectedPercolation/ExperimentalOutput/
DirectedPercolation/RawExperimentalOutput/*
GenImages/
LongRangeDirectedPercolation/ExperimentalOutput/
LongRangeDirectedPercolation/RawExperimentalOutput/*
Old\ Data/
LongRangeDirectedPercolation/Testing/

